body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevent scrollbars if necessary */
}

.team-container {
    position: relative;
    width: 200px; /* Fixed width to center */
    height: 300px; /* Fixed height to center */
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    perspective: 1000px;
    opacity: 0; /* Hide all players initially */
    transition: opacity 1s;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.front img, .back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 10px;
}

.info {
    margin: 0;
    color: #333;
}

.player.flip .front {
    transform: rotateY(180deg);
}

.player.flip .back {
    transform: rotateY(0deg);
}
